// /* <!------ FOOTER SIGN UP SECTION ------> */

.sign-up {
  display: block;
  width: 100%;
  height: 100%;
}

.sign-up--form {
  margin: 0;
  @media screen and (min-width: 1200px) {
    margin-left: 93px;
  }
}

.sign-up__title {
  width: 100%;
  height: 16px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
  margin-bottom: 20px;
  @media screen and (min-width: 768px) {
    text-align: center;
  }
  @media screen and (min-width: 1200px) {
    max-width: 219px;
  }
}

.sign-up__field {
  display: block;
  text-align: center;
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: flex-start;
  }
}

.sign-up__input {
  max-width: 450px;
  width: 100%;
  height: 50px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  background-color: var(--secondary-bgd-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding-left: 16px;
  margin-bottom: 20px;
  &:focus-within {
    border: 1px solid var(--third-bgd-color);
  }
  @media screen and (min-width: 1200px) {
    max-width: 358px;
    margin-bottom: 0;
  }
}

.sign-up__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 0 auto;
  &:hover,
  &:focus,
  &:active {
    box-shadow: inset 0 0 5px 2px rgba(0, 0, 0, 0.3);
  }
  @media screen and (min-width: 1200px) {
    margin-left: 12px;
  }
}

.sign-up__icon {
  fill: var(--secondary-text-color);
  background-color: var(--accent-color);
  margin-left: 10px;
}
