// <!------ PAGE FOOTER SECTION ------ >

.footer {
  background-color: var(--secondary-bgd-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__container {
  display: block;
  text-align: center;
  align-items: center;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
  }
  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
}

.footer__logo {
  margin-bottom: 20px;
}

.footer__logo--color {
  color: var(--secondary-text-color);
}

.address {
  margin-right: 0px;
  margin-bottom: 60px;
  @media screen and (min-width: 768px) {
    text-align: center;
    margin-right: 165px;
  }
  @media screen and (min-width: 1200px) {
    flex-shrink: 0;
    text-align: start;
    margin-right: 70px;
    margin-bottom: 0;
  }
}

.address__item {
  display: block;
  margin-bottom: 9px;
  &:last-child {
    margin-bottom: 0;
  }
}

.address__item--street {
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  margin-bottom: 9px;
}

.address__item--contacts {
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
